.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-lg {
  padding-inline: var(--px-lg);
}

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none; /* desaparece */
}

.even-columns {
  /* Permite que os elementos fiquem um abaixo do outro */
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.grid {
  display: grid;
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial; /* volta pro original -> block*/
  }

  .even-columns {
    /* transforma os elementos para q no desktop fiquem lado a lado */
    grid-auto-flow: column;
    grid-auto-columns: 1rf;
  }
}
